html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Palanquin', sans-serif;
}

h1 {
    font-family: 'DM Sans', sans-serif;
    font-size: 40px;
    letter-spacing: -2px;
    color: #3B3638;
}

p {
    font-family: 'Palanquin', sans-serif;
    font-size: 13px;
    color: #3B3638;
}
.first {
    background: linear-gradient(to bottom right, #ffffff, rgb(255, 255, 233));
}
.navbar {
    display: block;
    text-align: center;
    margin: auto;
}
.navbar a {
    text-decoration: none;
    font-size: 13px;
    font-family: 'DM Sans', sans-serif;
    margin-left: 18px;
    margin-right: 18px;
    color:#3B3638;
}

.navbar img {
    max-width: 75px;
    padding: 5px;
    animation: swing 1s ease-in;
    animation-iteration-count: 3;
}

.greetings {
    background: transparent;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
    max-width: 900px;
    margin: auto;
    animation: fadeIn 1s ease-in;
}

.greetings h1 {
    font-family: 'DM Sans', sans-serif;
    font-size: 55px;
    letter-spacing: -2px;
    color: #3B3638;
    text-align: center;
    text-wrap: balance;
}

.greetings a{
    color:#e414a6a7;
}

.greetings p {
    padding-top: 10px;
    text-align: center;
}

.contactmebox {
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 100px;
    max-width: 700px;
    margin: auto;
    animation: bounceInLeft 1s ease-in;
}

.contactmetext {
    background: linear-gradient(39deg, rgba(67,96,130,1) 0%, rgba(75,189,179,1) 21%, rgba(163,212,153,1) 31%, rgba(174,225,156,1) 38%, rgba(75,192,181,1) 67%, rgba(67,96,130,1) 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.068);
    border-radius: 30px;
    text-align: center;
    padding: 20px;
    border: 1px solid #ffffffa2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.161);
}

.contactmetext h1 {
    color: white;
    font-size: 25px;
    padding: 5px;
    letter-spacing: -1px;
    font-weight: 600;
    text-transform: capitalize;
}

.contactmetext p {
    background: linear-gradient(to bottom left, #ffc848, #d853b2);
    border: 1px solid #ffc84861;
    border-radius: 30px;
    padding: 10px;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;  
}
.contactmetext a {
    text-decoration: none;
    color: white;
}

.contactmetext p:hover {
    animation: pulse .2s ease-in;
}

.upcomingprojects {
    background: linear-gradient(to bottom left, #ED834F, #be5c2b);
    max-width: 100%;
    padding-top: 50px;
    margin: auto;
    text-align: left;
}

.upcomingprojectstext {
    margin: auto;
    animation: fadeIn 1s ease-in;
    padding-left: 75px;
    padding-right: 75px;
}

.upcomingprojectstext h1{
    font-weight: 600;
    margin: auto;
    color: white;
}

.upcomingprojectstext p{
    max-width: 1000px;
    margin: auto;
    color: white;
    font-size: 14px;
}

.hashtags {
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 0px auto;
    max-width: 1000px;
}

.hashtagstyle {
    background-color: #ffffff31;
    color: white;
    font-size: 13px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    padding: 4px 10px 4px 10px;
    border: 1px solid rgba(255, 255, 255, 0.494);
    border-radius: 2px;
    line-height: 35px;
}

.projects {
    max-width: 100%;
    margin: auto;
    padding-bottom: 20px;
    padding-left: 75px;
}

.item {
    background-color: #ffffffef;
    max-width: 275px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.109);
    border-radius: 14px;
}

.projects-container {
    padding: 15px;
}

.item img{
    border-radius: 14px 14px 0px 0px;
    filter: grayscale(5%);
}

.item h1 {
    font-family: 'Palanquin', sans-serif;
    letter-spacing: normal;
    font-weight: 600;
    font-size: 17px;
    text-align: left;
}

.item p {
    font-family: 'Palanquin', sans-serif;
    font-size: 12px;
    text-wrap: balance;
    text-align: left;
}

.badge p {
    color: white;
    background-color: #8AC99E;
    padding: 3px;
    border-radius: 10px;
    font-size: 10px;
}
.metadata p{
    color: rgba(128, 128, 128, 0.612);
}

.metabutton a{
    font-size: 13px;
    color:#D6703D;
    text-decoration: none;
    border: 1px solid #D6703D;
    border-radius: 20px;
    padding: 5px;
    display: block;
    width: 100%;
}

.metabutton a:hover{
    background-color: #D6703D; 
    color: white;
}

.frontendwrapper {
    display: none;
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 0px;
    max-width: 700px;
    margin: auto;
    animation: bounceInRight 1s ease-in;
}

.frontend {
    background: linear-gradient(to bottom right, #a0c6ff, #EE8877);
    padding: 100px; 
    max-width: 1000px;
    margin: 10px auto;
    text-align: center;
    text-wrap: balance;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.109);
}

.frontend h1{
    font-weight: 500;
    max-width: 1000px;
    margin: auto;
}

.frontend p{
    max-width: 1000px;
    margin: auto;
}

.frontend a{
    text-decoration: none;
    cursor: help;
    color: #3B3638;
}

.certswrap {
    display: flex;
    justify-content: space-evenly;
}

.responsive-img {
    display: block;
    max-width: 100%;
    height: auto;
}

.footer-content {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 60px;
    padding-bottom: 10px;
    max-width: 700px;
    margin: auto;
}

.goodbye {
    padding: 5px;
}

.footer-content h3 {
    font-family: 'DM Sans', sans-serif;
    color: #3B3638;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: -1px;
}

.footer-content p {
    font-family: 'Palanquin', sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: #3B3638;
}

#mc_embed_shell {
    font-family: 'Palanquin', sans-serif;
    margin: 0 auto;
    padding: 25px;
    background-color: #fff9ebf4;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mc-field-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-family: 'DM Sans', sans-serif;
    letter-spacing: -1px;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.indicates-required {
    color: #E61D1C;
    font-size: 10px;
    margin-bottom: 10px;
}

#mce-embedded-subscribe-form {
    text-align: left;
}

#mc-embedded-subscribe {
    background: linear-gradient(to top right, #ffc43a, #DD4BB4);
    font-family: 'Palanquin', sans-serif;
    font-weight: 500;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
}

#mc-embedded-subscribe:hover {
    background-color: #84a135;
}

.refferal_badge {
    max-width: 40%;
    height: auto;
    padding: 20px;
    margin-top: 30px;
    display: absolute;
}

.quicklinks {
    padding: 50px;
    text-align: center;
    animation: fadeIn .5s ease-in;
}

.quicklinks a{
    text-decoration: none;
    margin-left: 10px;
    color: #3B3638;
    font-size: 13px;
    font-weight: 500;
}

.quicklinks a:hover{
    color: #FE9A1C;
}

.copyright {
    text-align: center;
    animation: fadeIn .5s ease-in;
}
.copyright p{
    color: #3B3638;
    letter-spacing: 1px;
    font-size: 10px;
}

@media (max-width: 430px) {
    .navbar a {
        font-size: 12px;
        margin-left: 9px;
        margin-right: 9px;
    }
    .navbar img {
        max-width: 60px;
    }

    .greetings {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .greetings h1 {
        font-size: 41px;
    }

    .contactmebox {
        padding-top: 12px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 40px;
    }
    .contactmetext {
        padding: 9px;
    }

    .contactmetext p {
        padding: 6px;
        font-size: 12px;
        font-weight: 600;
    }

    .upcomingprojectstext {
        padding-top: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .hashtags {
        padding-left: 5px;
        padding-right: 5px;
    }

    .hashtagstyle {
        font-size: 11px;
        padding: 5px 10px 5px 10px;
    }
    .projects {
        padding-left: 20px;
    }
    .footer-content {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
        padding-bottom: 0px;
        margin: auto;
    }
    .goodbye {
        padding: 5px;
    }
    #mc_embed_shell {
        margin: 0 auto;
        padding: 25px;
    }
    .quicklinks {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .quicklinks a{
        margin-left: 7px;
        font-size: 13px;
        font-weight: 600;
    }
}

@media (max-width: 428px) {
    .navbar a {
        font-size: 12px;
        margin-left: 9px;
        margin-right: 9px;
    }
    .navbar img {
        max-width: 60px;
    }

    .greetings {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .greetings h1 {
        font-size: 41px;
    }

    .contactmebox {
        padding-top: 12px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 40px;
    }
    .contactmetext {
        padding: 9px;
    }

    .contactmetext p {
        padding: 6px;
        font-size: 12px;
        font-weight: 600;
    }

    .upcomingprojectstext {
        padding-top: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .hashtags {
        padding-left: 5px;
        padding-right: 5px;
    }

    .hashtagstyle {
        font-size: 11px;
        padding: 5px 10px 5px 10px;
    }
    .projects {
        padding-left: 20px;
    }
    .footer-content {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
        padding-bottom: 0px;
        margin: auto;
    }
    .goodbye {
        padding: 5px;
    }
    #mc_embed_shell {
        margin: 0 auto;
        padding: 25px;
    }
    .quicklinks {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .quicklinks a{
        margin-left: 7px;
        font-size: 13px;
        font-weight: 600;
    }
}

@media (max-width: 393px) {
    .navbar a {
        font-size: 12px;
        margin-left: 9px;
        margin-right: 9px;
    }
    .navbar img {
        max-width: 60px;
    }

    .greetings {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .greetings h1 {
        font-size: 35px;
    }

    .contactmebox {
        padding-top: 12px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 40px;
    }
    .contactmetext {
        padding: 9px;
    }

    .contactmetext p {
        padding: 6px;
        font-size: 12px;
        font-weight: 600;
    }

    .upcomingprojectstext {
        padding-top: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .hashtags {
        padding-left: 5px;
        padding-right: 5px;
    }

    .hashtagstyle {
        font-size: 11px;
        padding: 5px 10px 5px 10px;
    }
    .projects {
        padding-left: 20px;
    }
    .footer-content {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
        padding-bottom: 0px;
        margin: auto;
    }
    .goodbye {
        padding: 5px;
    }
    #mc_embed_shell {
        margin: 0 auto;
        padding: 25px;
    }
    .quicklinks {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .quicklinks a{
        margin-left: 5px;
        font-size: 12px;
        font-weight: 600;
    }
}

@media (max-width: 390px) {
    .navbar a {
        font-size: 12px;
        margin-left: 9px;
        margin-right: 9px;
    }
    .navbar img {
        max-width: 60px;
    }

    .greetings {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .greetings h1 {
        font-size: 35px;
    }

    .contactmebox {
        padding-top: 12px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 40px;
    }
    .contactmetext {
        padding: 9px;
    }

    .contactmetext p {
        padding: 6px;
        font-size: 12px;
        font-weight: 600;
    }

    .upcomingprojectstext {
        padding-top: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .hashtags {
        padding-left: 5px;
        padding-right: 5px;
    }

    .hashtagstyle {
        font-size: 11px;
        padding: 5px 10px 5px 10px;
    }
    .projects {
        padding-left: 20px;
    }
    .footer-content {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
        padding-bottom: 0px;
        margin: auto;
    }
    .goodbye {
        padding: 5px;
    }
    #mc_embed_shell {
        margin: 0 auto;
        padding: 25px;
    }
    .quicklinks {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .quicklinks a{
        margin-left: 5px;
        font-size: 12px;
        font-weight: 600;
    }
}

@media (max-width: 375px) {
    .navbar a {
        font-size: 12px;
        margin-left: 9px;
        margin-right: 9px;
    }
    .navbar img {
        max-width: 60px;
    }

    .greetings {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .greetings h1 {
        font-size: 35px;
    }

    .contactmebox {
        padding-top: 12px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 40px;
    }
    .contactmetext {
        padding: 9px;
    }

    .contactmetext p {
        padding: 6px;
        font-size: 12px;
        font-weight: 600;
    }

    .upcomingprojectstext {
        padding-top: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .hashtagstyle {
        font-size: 11px;
        padding: 5px 10px 5px 10px;
    }
    .projects {
        padding-left: 20px;
    }
    .footer-content {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
        padding-bottom: 0px;
        margin: auto;
    }
    .goodbye {
        padding: 5px;
    }
    #mc_embed_shell {
        margin: 0 auto;
        padding: 25px;
    }
    .quicklinks {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .quicklinks a{
        margin-left: 5px;
        font-size: 12px;
        font-weight: 600;
    }
}