html {
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    color: #3B3638;
}

p {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #3B3638;
    line-height: 25px;
}

.first {
    background-color: rgb(252, 252, 252);
}

.navbar {
    padding-top: 5px;
    padding-left: 20px;
    position: relative;
}

.navbarlinks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    justify-content: end;
    align-items: end;
}

.menu {
    color: #e25d48;
    padding-right: 20px;
    animation: tada 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 3;
}

.navbar a {
    text-decoration: none;
    font-size: 13px;
    font-family: 'DM Sans', sans-serif;
    color: #3B3638;
}

.navbar a:hover {
    color: #e25d48;
    transition: .5s;
}

.acuity {
    text-align: center;
    margin-bottom: 40px;
    animation: fadeInUp 2s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.greetings a {
    color: #e25d48;
    font-weight: 400;
    text-decoration: none;

}

.greetings p {
    letter-spacing: -.2px;
    padding: 10px;
    text-align: left;
    border-radius: 10px;
    border: 1px solid #bfecb3;
}

.greetings {
    background: transparent;
    max-width: 1000px;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
    animation: fadeInUp 1s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.upcomingprojects {
    background: linear-gradient(to bottom right, #a0c6ff, #E25D48);
    width: 100%;
    padding-top: 30px;
    text-align: left;
    animation: fadeInUp 1s ease-in;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.upcomingprojectstext {
    padding-left: 100px;
    padding-right: 100px;
    max-width: 1000px;
}

.upcomingprojectstext h1 {
    padding-bottom: 10px;
    margin: auto;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    text-align: left;
}

.upcomingprojectstext p {
    letter-spacing: -.2px;
    color: white;
    font-size: 14px;
    text-align: left;
}

.secondrow {
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    max-width: 1000px;
}

.secondrow p {
    text-wrap: balance;
    color: #585053;
    padding: 10px;
    font-size: 13px;
    border-radius: 10px;
    border: 1px solid #bfecb3;
}

.secondrow a {
    text-decoration: none;
    color: #e25d48;
}

.quicklinks {
    padding: 0px;
    text-align: center;
    animation: fadeIn .5s ease-in;
}

.quicklinks a {
    text-decoration: none;
    margin-left: 10px;
    color: #3B3638;
    font-size: 13px;
    font-weight: 500;
}

.quicklinks a:hover {
    color: #FE9A1C;
}

.copyright {
    text-align: center;
    animation: fadeIn .5s ease-in;
}

.copyright p {
    color: #3B3638;
    letter-spacing: 1px;
    font-size: 10px;
}




@media (max-width: 430px) {
    .navbar a {
        font-size: 13px;
    }

    .intro h1 {
        font-size: 40px;
        padding: 10px;
    }

    .greetings {
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .upcomingprojects {
        padding-top: 15px;
    }

    .upcomingprojectstext {
        padding-top: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .upcomingprojectstext h1 {
        font-size: 15px;
        font-weight: 600;
    }

    .secondrow {
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        max-width: 100%;
    }

    .secondrow p {
        text-wrap: balance;
        padding: 10px;
    }
}

@media (max-width: 428px) {
    .navbar a {
        font-size: 13px;
    }

    .intro h1 {
        font-size: 40px;
        padding: 10px;
    }

    .greetings {
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .upcomingprojects {
        padding-top: 15px;
    }

    .upcomingprojectstext {
        padding-top: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .secondrow {
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        max-width: 100%;
    }

    .secondrow p {
        text-wrap: balance;
        padding: 10px;
    }
}

@media (max-width: 393px) {
    .navbar a {
        font-size: 13px;
    }

    .intro h1 {
        font-size: 40px;
        padding: 10px;
    }

    .greetings {
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .upcomingprojects {
        padding-top: 15px;
    }

    .upcomingprojectstext {
        padding-top: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .secondrow {
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        max-width: 100%;
    }

    .secondrow p {
        text-wrap: balance;
        padding: 10px;
    }
}

@media (max-width: 390px) {
    .navbar a {
        font-size: 13px;

    }

    .greetings {
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .upcomingprojects {
        padding-top: 15px;
    }

    .upcomingprojectstext {
        padding-top: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .secondrow {
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        max-width: 100%;
    }

    .secondrow p {
        text-wrap: balance;
        padding: 10px;
    }
}

@media (max-width: 375px) {
    .navbar a {
        font-size: 13px;
    }

    .greetings {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .upcomingprojectstext h1 {
        font-size: 15px;
    }

    .upcomingprojectstext {
        padding-top: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .lansangitemimg img:hover {
        animation: none;
    }

    .globaltpimg img:hover {
        animation: none;
    }

    .mindfulmed:hover .mindfulmedimg img {
        transform: none;
    }

    .collective:hover .collectiveimg img {
        transform: none;
    }

    .secondrow {
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        max-width: 100%;
    }

    .secondrow p {
        text-wrap: balance;
        padding: 10px;
    }
}